<%= form_with(model: parameter) do |form| %>
  <% if parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parameter.errors.count, "error") %> prohibited this parameter from being saved:</h2>

      <ul>
        <% parameter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :empresa %>
    <%= form.number_field :empresa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
